body {
  background: linear-gradient(to right, aqua, lime);
}
h1 {
  margin: 0;
  padding: 2%;
  font-family: Lato;
  text-align: center;
}

.date-container {
  display: grid;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.date-container > div {
  display: grid;
  grid-template-areas:
    'title title'
    'city city'
    'image image'
    'options options'
    'temperature temperature'
    'button button';
  border: 1px solid black;
  box-shadow: 3px 3px 5px grey;
  border-radius: 5%;
  margin-left: 15px;
  height: auto;
  width: 300px;
  padding: 10px;
  background: rgb(201, 199, 199);
}

.title {
  grid-area: title;
  text-align: center;
}

.city {
  grid-area: city;
  text-align: center;
}

.image {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -40px;
  margin-top: -40px;
}

.options {
  grid-area: options;
}

.options h3:first-child {
  text-align: center;
}

.temperature {
  grid-area: temperature;
  text-align: center;
}

.button {
  grid-area: button;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
  background: linear-gradient(to right, lime, aqua);
  padding: .5rem;
}
